doctype 5
html(xmlns="http://www.w3.org/1999/xhtml",xmlns:fb="https://www.facebook.com/2008/fbml")
	head
		title A Tall Tale
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	center
		h1
			a(href='/') A Tall Tale
		a(href='/') Home
		&nbsp
		&nbsp
		&nbsp
		a(href='/leaderboard') Current leaderboard
		&nbsp
		&nbsp
		&nbsp
		- if (typeof currentUser != 'undefined')
			a(href='/mystories') My stories
			&nbsp
			&nbsp
			&nbsp
		a(href='/rules') Contest rules
		&nbsp
		&nbsp
		&nbsp
		- if (typeof currentUser == 'undefined')
			a(href='/auth/facebook') Sign In
		- else
			a(href='/logout') Logout
		br
		h3 Fun short stories told by two people, one sentence at a time
		p The top voted story each week WINS a new iPhone 5 or iPad Mini (your choice)! 
		p Last week's winner:
		img('src=/images/ed.jpg')
		br
		b Ed Roman 
		p This week's winner will be chosen in #{7 - new Date().getDay()} days.
		p
			a(href='https://itunes.apple.com/') Tell your own stories with friends - click here to download "A Tall Tale" iPhone app!
		- if (typeof message != 'undefined')
			p
				b
					= message
		p
	block content
		br
		p
