extends layout

block content
	p.
		Contest Rules
	p(align="left").
		NO PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING. ALL FEDERAL, STATE, LOCAL,
		AND MUNICIPAL LAWS AND REGULATIONS APPLY. VOID WHERE PROHIBITED.
	p(align="left").
		1.	Eligibility
	p(align="left").
		A Tall Tale Giveaway (the Contest) is open to legal residents of the fifty (50) United States and the District of Columbia who are at least eighteen (18) years old at the time of entry. Employees of Ghostfire Games and other companies associated with the promotion of the Contest, and their respective parents, subsidiaries, affiliates and advertising and promotion agencies as well as the immediate family (spouse, parents, siblings, and children) and household members of each such employee are not eligible. The Contest is subject to federal, state, and local laws and regulations.
	p(align="left").
		2.	Sponsor
	p(align="left").
		The Sweepstakes is sponsored by Ghostfire Games, located at PO Box 3109 #91828, Houston, Texas 77253.
	p(align="left").
		3.	Agreement to Official Rules
	p(align="left").
		Participation in the Sweepstakes constitutes entrants full and unconditional agreement to and acceptance of these Official Rules and the decisions of the Sponsor, which are final and binding. Winning a prize is contingent upon being compliant with these Official Rules and fulfilling all other requirements set forth herein.
	p(align="left").
		4.	Contest Period
	p(align="left").
		The Contest begins on February 18, 2013 at 12am PST, and ends on February 24, 2012 at 11:59pm PST.  It recurs each week from Momday-Sunday (the Contest Period).  Entries that are submitted during that week will count for that week's contest only.  Entries that are submitted before or after the Contest Period will be disqualified.  Submissions will be accepted for the duration of the Contest using the iPhone mobile application "A Tall Tale" only.
	p(align="left").
		5.	How to Enter
	p(align="left").
		Online: This method of entry will be available by downloading our "A Tall Tale" mobile application from the iTunes App Store and following the directions provided to fill out the entry information, and submit.
		There is no limit to the number of entries per person, per email address, per contest, per household for the duration of the Sweepstakes Period, regardless of method of entry. Entries received from any person, e-mail address, or household in excess of the stated limitation will be void. All entries become the property of Sponsor and will not be acknowledged or returned.
	p(align="left").
		6.	Prize Drawing
	p(align="left").
		Each week following that contest period, the Sponsor will select the winner as chosen by the story with the highest number of votes by the "A Tall Tale" community.  The odds of being selected depend on the number of entries received. The Sponsor will attempt to notify the potential winner via email the week following that contest period. If the potential winner cannot be contacted within five (5) days after the date of the first attempt to contact him/her, the Sponsor may select an alternate potential winner in his/her place at random from the remaining non-winning, eligible entries.
	p(align="left").
		7.	Winner Notification
	p(align="left").
		The potential winners will be notified by email. Each potential Grand and First Prize winner (parent/legal guardian if a minor in his/her state of residence) will be required to complete, electronically sign and submit a Declaration of Compliance within five (5) days of the date notice or attempted notice is sent, in order to claim his/her prize. If a potential winner cannot be contacted, or fails to submit the Declaration of Compliance within the required time period (if applicable), or prize is returned as undeliverable, potential winner forfeits prize. If the potential winner is at least 18 but still considered a minor in his/her jurisdiction of residence, Sponsor reserves the right to award the prize in the name of his/her parent or legal guardian, who will be required to sign the Declaration of Compliance on the potential winners behalf and fulfill any other requirements imposed on winner set forth herein. Potential winners must continue to comply with all terms and conditions of these Official Rules, and winning is contingent upon fulfilling all requirements. In the event that a potential winner is disqualified for any reason, Sponsor will award the applicable prize to an alternate winner from among all remaining eligible entries. Only three (3) alternate drawings will be held, after which the prize will remain un-awarded. Prizes will be fulfilled approximately 8-10 weeks after the conclusion of the Sweepstakes.
	p(align="left").
		8.	Prizes
	p(align="left").
		Grand Prize (1 per week) - Your choice of the latest model iPhone or iPad
	p(align="left").
		9.	General Conditions
	p(align="left").
		In the event that the operation, security, or administration of the Contest is impaired in any way for any reason, including, but not limited to fraud, virus, bug, worm, unauthorized human intervention or other technical problem, or in the event the Contest is unable to run as planned for any other reason, as determined by Sponsor in its sole discretion, the Sponsor may, in its sole discretion, either (a) suspend the Contest to address the impairment and then resume the Sweepstakes in a manner that best conforms to the spirit of these Official Rules or (b) terminate the Sweepstakes and, in the event of termination, award the prize at random from among the eligible, non-suspect entries received up to the time of the impairment. The Sponsor reserves the right in its sole discretion to disqualify any individual it finds to be tampering with the entry process or the operation of the Contest or to be acting in violation of these Official Rules or in an unsportsmanlike or disruptive manner. Any attempt by any person to damage the website or undermine the legitimate operation of the Contest may be a violation of criminal and civil law, and, should such an attempt be made, the Sponsor reserves the right to seek damages (including attorneys fees) and any other remedies from any such person to the fullest extent permitted by law. Failure by the Sponsor to enforce any provision of these Official Rules shall not constitute a waiver of that provision.
	p(align="left").
		10. Release and Limitations of Liability
	p(align="left").
		By participating in the Contest, entrants agree to release and hold harmless the Sponsor, and each of their respective parents, subsidiaries, affiliates, advertising and promotion agencies, other companies associated with the Sweepstakes, and each of their respective officers, directors, employees, shareholders, representatives, and agents (the Released Parties) from and against any claim or cause of action arising out of participation in the Contest or receipt or use of the prize (including any travel or activity related thereto), including, but not limited to: (a) any technical errors associated with the Contest, including lost, interrupted or unavailable Internet Service Provider (ISP), network, server, wireless service provider, or other connections, availability or accessibility or miscommunications or failed computer, satellite, telephone, cellular tower or cable transmissions, lines, or technical failure or jumbled, scrambled, delayed, or misdirected transmissions or computer hardware or software malfunctions, failures or difficulties; (b) unauthorized human intervention in the Contest; (c) mechanical, network, electronic, computer, human, printing or typographical errors; (d)application downloads, (e) any other errors or problems in connection with the Contest, including, without limitation, errors that may occur in the administration of the Contest, the announcement of the winner, the cancellation or postponement of the event and/or the flyover, if applicable, the incorrect downloading of the application the processing of entries application downloadsor in any Contest-related materials; or (f) injury, death, losses or damages of any kind, to persons or property which may be caused, directly or indirectly, in whole or in part, from entrants participation in the Sweepstakes or acceptance, receipt or misuse of the prize (including any travel or activity related thereto). Entrant further agrees that in any cause of action, the Released Parties liability will be limited to the cost of entering and participating in the Contest, and in no event shall the entrant be entitled to receive attorneys fees. Released Parties are also not responsible for any incorrect or inaccurate information, whether caused by site users, tampering, hacking, or by any equipment or programming associated with or utilized in the Contest. Entrant waives the right to claim any damages whatsoever, including, but not limited to, punitive, consequential, direct, or indirect damages.
	p(align="left").
		11. Disputes
	p(align="left").
		Except where prohibited, each entrant agrees that any and all disputes, claims and causes of action arising out of, or connected with, the Sweepstakes or any prize awarded shall be resolved individually, without resort to any form of class action, and exclusively by the appropriate court located in California. All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, entrants rights and obligations, or the rights and obligations of the Sponsor in connection with the Sweepstakes, shall be governed by, and construed in accordance with, the laws of California, without giving effect to any choice of law or conflict of law rules, which would cause the application of the laws of any jurisdiction other than California.
	p(align="left").
		12. Privacy
	p(align="left").
		Information collected from entrants is subject to sponsors privacy policy.
	p(align="left").
		13. Winner List
	p(align="left").
		To request the name of the winner send a self-addressed, stamped envelope to Ghostfire Games, PO Box 3109 #91828, Houston TX, 77253. Winner List requests will only be accepted after the promotion end date (listed above). For the Winner List, you can also send an email.
