body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
leftCol {
  width: 50%;
  float: left;
}
rightCol {
  width: 50%;
  float: right;
}
fb-like {
  overflow: hidden;
}
#loading {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #cfcfcf;
  color: #000;
  display: none;
  font-weight: bold;
  left: 25%;
  margin-left: -60px;
  bottom: 0px;
  padding: 5px;
  position: fixed;
  text-align: center;
}
#no-more {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #cfcfcf;
  color: #000;
  display: none;
  font-weight: bold;
  left: 25%;
  margin-left: -60px;
  bottom: 0px;
  padding: 5px;
  position: fixed;
  text-align: center;
}
#debug {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #cfcfcf;
  color: #000;
  font-weight: bold;
  left: 25%;
  margin-left: -60px;
  bottom: 50px;
  padding: 5px;
  position: fixed;
  text-align: center;
}
