body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
leftCol
	width: 50%
	float: left
rightCol
	width: 50%
	float: right
fb-like
	overflow: hidden
#loading
	background: none repeat scroll 0 0 #EEEEEE
	border: 1px solid #CFCFCF
	color: #000000
	display: none
	font-weight: bold
	// top: 100px
	// left: 1100px
	left: 50%
	margin-left: -60px
	bottom: 0px
	padding: 5px
	position: fixed
	text-align: center
#no-more
	background: none repeat scroll 0 0 #EEEEEE
	border: 1px solid #CFCFCF
	color: #000000
	display: none
	font-weight: bold
	// top: 100px
	// left: 1100px
	left: 50%
	margin-left: -60px
	bottom: 0px
	padding: 5px
	position: fixed
	text-align: center
#debug
	background: none repeat scroll 0 0 #EEEEEE
	border: 1px solid #CFCFCF
	color: #000000
	// display: none
	font-weight: bold
	// top: 100px
	// left: 1100px
	left: 50%
	margin-left: -60px
	bottom: 50px
	padding: 5px
	position: fixed
	text-align: center
